**/node_modules/
**/env/
**/.env/
**/venv/
**/.venv/

**/.terraform/
**/*.tfstate
**/*.tfstate.*
**/*.tfvars
**/*.tfvars.json
**/terraform.tfvars
**/terraform.tfvars.json
**/.terraform.lock.hcl
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
