**/node_modules/
**/env/
**/.env/
**/venv/
**/.venv/

**/.terraform/
**/.terraform.tfstate.lock.info
**/*.tfstate
**/*.tfstate.*
**/*.tfvars
**/*.tfvars.json
**/terraform.tfvars
**/terraform.tfvars.json
**/.terraform.lock.hcl
**/*.tfplan
**/*.tfplan.json
**/tfplan
**/*.zip
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
